# Seguridad
SECRET_KEY=TU_LLAVE_SECRETA_SUPER_SEGURA

# Automatización (n8n)
N8N_WEBHOOK_URL=https://tu-n8n-en-render.com/webhook/identificador
OPENROUTER_API_KEY=sk-or-v1-tu-api-key

# URLs de Producción
FRONTEND_URL=https://tu-app-en-digitalocean.com
BACKEND_URL=https://tu-api-en-digitalocean.com
