# Seguridad
SECRET_KEY=TU_LLAVE_SECRETA_SUPER_SEGURA

# IA - OpenRouter (gratis para siempre con modelo Gemini Flash)
OPENROUTER_API_KEY=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

# Automatización (n8n) - Dejar vacío para usar OpenRouter directo
N8N_WEBHOOK_URL=

# URLs de Producción
FRONTEND_URL=https://shr-frontend-prod.onrender.com
BACKEND_URL=https://shr-backend-prod.onrender.com
